--extra-index-url https://download.pytorch.org/whl/cu130
huggingface-hub==0.34.4
joblib==1.5.2
numpy==2.2.6
protobuf==6.32.1
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.15.3
sentencepiece==0.2.1
threadpoolctl==3.6.0
tokenizers==0.22.2
torch==2.11.0+cu130
transformers==4.56.2
